#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

/.idea
~*

#-------------------------------------------------------------------------------
# Linux
#-------------------------------------------------------------------------------

*~
.directory
.fuse_hidden*
.nfs*
.Trash-*

#-------------------------------------------------------------------------------
# Mac OS
#-------------------------------------------------------------------------------

._*
.apdisk
.AppleDouble
*.DS_Store
.LSOverride

#-------------------------------------------------------------------------------
# Windows
#-------------------------------------------------------------------------------

*.lnk
Desktop.ini
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
